
.top5-box {
    background-color: white;
    position: fixed;
    margin-left: 100px;
    margin-top: 70px;
    height: 150px;
    width: 300px;
    border: 5px solid black;
    padding: 10px 0px 0px 10px;
}

.bottom5-box {
    background-color: white;
    position: fixed;
    margin-left: 100px;
    margin-top: 290px;
    height: 150px;
    width: 300px;
    border: 5px solid black;
}

.heatmap-box {
    background-color: white;
    position: fixed;
    margin-left: 736px;
    margin-top: 70px;
    height: 370px;
    width: 500px;
    border: 5px solid black;
}